<h1>Template driven form</h1>
<form #templateForm="ngForm" (submit)="addList(templateForm)">
  <input type="text" [(ngModel)]="fname" name="fname" placeholder="First Name" minlength="3" required><br><br>
  <input type="text" [(ngModel)]="lname" name="lname" placeholder="Last Name"><br><br>
  <select [(ngModel)]="gender" name="gender" required>
    <option value="" hidden>Choose gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select><br><br>
  <textarea [(ngModel)]="address" name="address" placeholder="Address"></textarea>
  <br><br>
  <input type="checkbox" [(ngModel)]="terms" name="terms" required>The above information is true to my knowledge<br><br><br>
  <button type="submit" [disabled]="!templateForm.valid" (click)="displayValues()">ADD</button>
  <button class="btn btn-link" (click)="resetValues(templateForm)">Reset</button>
  <button class="btn btn-link" (click)="setValues(templateForm)">Set</button>

</form>
<br><br>